$serif-stack: "ET Book","Palatino Linotype","Palatino LT STD", Palatino, Georgia, serif;
$sans-stack: "Gill Sans", Helvetica, sans-serif;
$mono-stack: "Fira Code", Mononoki, monospace;
$base-font-multiplier: 1;

$monogram-size: 1em;
$monogram-padding: .2em;
$monogram-weight: bold;

// rem mixin from sparkbox: https://sparkbox.com/foundry/scss_rem_mixin_now_with_a_better_fallback
@mixin font-size( $decimal-size, $keyword: null ) {
  @if $keyword{ font-size: $keyword; }
  @else { font-size: $decimal-size * $base-font-multiplier * 16px;}
  font-size: $decimal-size * 1rem;
}



.monogram {
  padding: $monogram-padding;
  font-size: $monogram-size;
  font-weight: $monogram-weight;
  text-decoration: none;
}