<!DOCTYPE HTML>
<html>
  <head>
    <title>
      {% block title %}{% endblock title %}
    </title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

    <nav>
      <a href="/" class="monogram">
        <span>
          HZ
        </span>
      </a>
  
  
    </nav>

    <main class="flex five">
      {% block content %}{% endblock content %}
    </main>

  </body>
</html>
