<!DOCTYPE HTML>
<html>
  <head>
    <title>
      {% block title %}{% endblock title %}
    </title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

    <nav class="nav-bar">
    
          <a href="/" class="monogram">
            HZ
          </a>
          
      <!-- left above, right below -->
        
      <ul class="nav-list">
      
        <li class="nav-link">
          <a href="/about">
            about
          </a>
        </li> 
      
        <li class="nav-link">
          <a href="/project">
            projects
          </a>
        </li>
      
        <li class="nav-link">
          <a href="/post">
            posts
          </a>
        </li>

      </ul>
    </nav>

    <main class="content">
      {% block content %}{% endblock content %}
    </main>

  </body>
</html>