<!DOCTYPE HTML>
<html>
  <head>
    <title>
      {% block title %}{% endblock title %}
    </title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>

    <nav class="demo">
      <a href="/" class="brand">
        <span>
          HZ
        </span>
      </a>
  
      <input id="burger" type="checkbox" class="show">
      <label for="burger" class="burger pseudo button">&#9776;</label>
  
      <div class="menu">
        <a href="/post" class="pseudo button icon-picture">posts</a>
      </div>
  
    </nav>

    <main class="flex five">
      {% block content %}{% endblock content %}
    </main>

  </body>
</html>
