{% extends "base.html" %}

{% block title %}
  {{ section.title }}
{% endblock title %}

{% block content %}

  {% if section.content %}
    <div>
      {{ section.content | safe }}
    </div>
  {% endif %}

  <ul>
    {% for page in section.pages %}
      <li>
        <a href="{{ page.permalink | safe }}" >
          {% if page.date %}
            {{ page.date | date(format="%Y-%m-%d") }} &nbsp;
          {% endif %}
          {{ page.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
 
{% endblock content %}
